*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
address {
  font-style: normal;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure {
  margin: 0;
}
.clearfix:after,
div:after,
header:after,
footer:after,
p:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.container {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #404040;
  background: #ffffff;
}
.block, header, footer {
  min-width: 1170px;
}
.btn {
  display: block;
  width: 295px;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
  font-weight: 300;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-white {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.btn-white:hover {
  background: #fff;
  color: #ef4300;
}
.btn-red {
  width: 100%;
  background: #ef4300;
  color: #fff;
  font-size: 16px;
  border: 1px solid #ef4300;
}
.btn-red:hover {
  background: transparent;
  color: #ef4300;
}
header.gl {
  min-height: 660px;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  background: url('../img/header-bg.jpg') no-repeat fixed center top;
  -webkit-background-size: cover;
  background-size: cover;

  h1 {
    margin: 45px 0 35px;
    font-size: 65px;
    line-height: 72px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #666;

    span {
      display: block;
      font-size: 46px;
      line-height: 50px;
    }
  }
  strong {
    font-size: 26px;
    font-weight: lighter;
    line-height: 1;
    text-transform: uppercase;
    }
}
.instagram-advantages {
  width: 600px;
  margin: 35px auto;

  .advantage-single {
    display: inline-block;
    width: 105px;
    margin-right: 56px;
    vertical-align: top;
  }
  .advantage-single:last-child {
    margin-right: -4px;
  }
  .advantage-single:nth-child(3),
  .advantage-single:nth-child(4) {

    .advantage-count {
      font-size: 35px;
    }
  }
  .advantage-count {
    width: 105px;
    height: 105px;
    border: 1px solid #fff;
    font-size: 45px;
    font-weight: 300;
    line-height: 105px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
  }
  .advantage-desc {
    margin: 15px 0 0;
    font-size: 14px;
    font-weight: 300;
  }
}
.block2 {
  overflow: hidden;
}
.block2, .block4 {
  padding: 60px 0 60px;
  background: #fff;
}
.container-title {
  margin: 0 auto 50px;
  text-align: center;

  h3 {
    margin: 0 0 15px;
    font-size: 30px;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
  }
  strong {
    font-size: 19px;
    font-weight: 300;
    color: #707070;
  }
}
.block2-divider {
  position: relative;
  width: 100%;
  height: 1px;
  background: #e8e8e8;
}
.block2-arrow {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 22px;
  margin-left: -23px;
  z-index: 100;
  background: url('../img/arrow-gray.jpg') no-repeat center top;
}
.container-content {
  margin: 55px auto 0;
}
.instagram-diff {
  width: 460px;
  //
  margin-left: -200px;
  opacity: 0;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.instagram-diff.visible {
  margin-left: 0;
  opacity: 1;
}
.instagram-services {
  width: 570px;

  ul {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    margin-right: -4px;
    //
    position: relative;
    right: -200px;
    opacity: 0;
    -webkit-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;

    li {
      display: block;
      margin: 0 0 15px;
      font-weight: bold;
      font-size: 18px;

      img {
        margin-right: 10px;
        vertical-align: middle;
      }
    }
    li:last-child {
      margin: 0;
    }
  }
  ul:first-child {
    margin: 0 35px;
  }
}
.block3 {
  position: relative;
  margin-top: -30px;
  padding: 60px 0 30px;
  min-height: 660px;
  background: url('../img/block3-bg.jpg') no-repeat center top;
  color: #fff;
  text-align: center;

  h3 {
    margin: 50px 0 30px;
    font-weight: normal;
    font-size: 25px;
    line-height: 1;
  }
  strong {
    font-size: 18px;
    font-weight: 300;
  }
  .btn {
    margin: 40px auto;
  }
}
.hearts-left, .hearts-right {
  position: absolute;
}
.hearts-left {
  width: 730px;
  height: 110px;
  left: 0;
  bottom: 104px;
  background: url('../img/hearts-left.png') no-repeat center center;
}
.hearts-right {
  width: 734px;
  height: 114px;
  right: 0;
  bottom: 127px;
  background: url('../img/hearts-right.png') no-repeat center center;
}
.instagram-wizard {
  width: 74px;
  margin: 0 auto;
}
.instagram-heart {
  height: 71px;
  background: url('../img/insta-heart.png') no-repeat center center;
  -webkit-transition: all 3s ease;
  -o-transition: all 3s ease;
  transition: all 3s ease;
}
.instagram-heart.visible {
  -webkit-transform: rotateY(720deg);
  -ms-transform: rotateY(720deg);
  -o-transform: rotateY(720deg);
  transform: rotateY(720deg);
}
.instagram-label {
  margin: 10px auto 0;
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.instagram-examples {
  position: relative;
  z-index: 1000;
  //
  bottom: -70px;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.instagram-examples.visible {
  bottom: 0;
  opacity: 1;
}
.block4 {
  padding: 30px 0 50px;
}
.instagram-price {
  width: 100%;
  border-bottom: 1px solid #dadada;
  //
  position: relative;
  left: -300px;
  opacity: 0;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;

  &.visible {
    left: 0;
    opacity: 1;
  }
  
  thead {

    th {
      padding: 20px 0;
      text-align: center;
      background: #353f48;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border: none;
    }
  }
  tr {

    td {
      padding: 25px 20px 15px 15px;
      border-right: 1px solid #dadada;
    }
    td:first-child {
      border-left: 1px solid #dadada;;
    }
  }
  td {

    p, img {
      display: inline-block;
      margin-right: -4px;
      vertical-align: top;
    }
    img {
      width: 30px;
      margin-right: 15px;
    }
    p {
      margin: 0;
      width: 295px;
      font-weight: lighter;
      color: #898989;
    }
  }
  .economy {
    text-align: center;

    td {
      padding: 0 0 5px;
      font-size: 16px;
      color: #23c308;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .order {

    td {
      padding: 10px 20px 30px;
    }
  }
  .price-title {
    font-size: 20px;
    line-height: 1;
    color: #ef4300;
    text-transform: uppercase;
  }
  .price-sum {
    margin: 0;
    font-size: 50px;
    color: #fff;
    text-shadow: 1px 1px 0 #000;

    span {
      display: inline-block;
      margin: 0 -4px 0 5px;
      font-size: 14px;
      color: #a0a0a0;
      font-weight: normal;
      text-shadow: none;
    }
  }
}
.block5 {
  padding: 40px 0 25px;
  background: #dadada;
}
.container-slide {
  width: 1170px !important;
}
.testimonial-text, .testimonial-case {
  width: 570px;
}
.testimonial-client {

  img {
    width: 80px;
    margin-right: 15px;
  }
  p {
    margin: 0 0 5px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    color: #333;
  }
  small {
    font-size: 16px;
    color: #ef4300;
  }
}
.testimonial-content {
  margin: 0;
  font-size: 32px;
  line-height: 42px;

  &:before {
    content: '';
    display: block;
    width: 35px;
    height: 24px;
    margin: 20px auto 30px;
    background: url('../img/quote.png') no-repeat center center;
  }
}
.testimonial-title {
  display: block;
  margin: 0 0 25px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  color: #333;
}
.testimonial-imgs {
  height: 320px;
  background: #fff;
}
.testimonial-case-desc {
  width: 265px;
  padding: 15px 0 0 15px;
  margin: 0;

  span {
    display: block;
    margin: 0 0 20px;
    font-weight: bold;
  }
}
.testimonial-img1 {
  position: relative;
  z-index: 100;
  border: 15px solid #fff;
}
.testimonial-img2 {
  margin-top: -70px;
  margin-left: 15px;
}
footer.gl {
  padding: 65px 0 25px;
  background: #353f48;
  text-align: center;

  .container {
    width: 620px;
  }
  h3 {
    margin: 0;
    font-size: 30px;
    line-height: 1;
    color: #fff;
  }
  strong {
    margin: 30px 0;
    display: block;
    font-size: 20px;
    line-height: 1;
    color: #ef4300;
  }
}
.get-book {

  p, span {
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
  }
  p {
    width: 255px;
    margin: 0;
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
  }

  span {
    width: 25px;
    height: 25px;
    margin: 0 7px;
    line-height: 25px;
    background: #4670fa;
    text-align: center;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
  }
}
.get-book-part1 {
  text-align: right;
}
.get-book-part2 {
  text-align: left;
}
.footer-form {
  width: 325px;
  margin: 35px auto;

  input[type=text],
  input[type=email] {
    width: 100%;
    margin: 0 0 15px;
    padding: 15px;
    font-size: 15px;
    text-align: center;
    color: #727d87;
    background: #414d58;
    border: 1px solid #727d87;
    text-transform: uppercase;
    outline: none;
  }
  input[type=submit] {
    width: 100%;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
    background: #fff;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none;
  }
  input[type=submit]:hover {
    color: #fff;
    background: transparent;
  }
}
.vk-soc {
  display: block;
  width: 34px;
  margin: 0 auto;
}
.logo-footer {
  display: block;
  width: 124px;
  margin: 15px auto 0;
}


/* form */

#callback, #thanks {
  position: relative;
  width: 400px;
  padding: 25px 20px;
  margin: 0 auto;
  background: #fff;
  color: #333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.popup-title {
  margin: 15px 0 15px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
#callback {

  input[type=text],
  input[type=email] {
    width: 100%;
    margin: 0 0 15px;
    padding: 15px;
    font-size: 15px;
    text-align: center;
    color: #333;
    background: #fff;
    border: 1px solid #727d87;
    text-transform: uppercase;
    outline: none;
  }
  input[type=submit] {
    width: 100%;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
    background: #ef4300;
    color: #fff;
    border: 1px solid #ef4300;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none;
  }
  input[type=submit]:hover {
    color: #ef4300;
    background: transparent;
  }
}